E:\casino project\moonbet-casino\src\CircularSlider.css

.header {
  pointer-events: none;
}
.header:after {
  content: " ";
  width: 50%;
  height: 50px;
  position: relative;
  z-index: 9;
  top: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(34, 34, 34, 1) 0%,
    rgba(34, 34, 34, 0) 100%
  );
}
.header > * {
  position: relative;
  z-index: 10;
  pointer-events: all;
}
hr.small {
  width: 50px;
}

.details .button {
  background: transparent;
  border: 1px solid white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  letter-spacing: 2px;
  margin-top: 1rem;
  z-index: 9999;
}
.details .button:hover {
  background: #fff;
  color: #222;
}

/* Slider */
.svg-mask {
  position: relative;
}
.featured-slider {
  position: relative;

  width: 0;
  top: 50%;
  left: 50%;
  transform: scale(0.5) translateY(-100px);
}
.featured-slider li {
  user-select: none;
  list-style: none;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease;
  opacity: 0.25;
}
.featured-slider li.active {
  opacity: 1;
}
.featured-slider li:nth-child(1) {
  transform: translate(-50%, -50%) rotate(0deg);
}
.featured-slider li:nth-child(2) {
  transform: translate(-50%, -50%) rotate(90deg);
}
.featured-slider li:nth-child(3) {
  transform: translate(-50%, -50%) rotate(180deg);
}
.featured-slider li:nth-child(4) {
  transform: translate(-50%, -50%) rotate(270deg);
}

.featured-slider li .image {
  width: 1200px;
  height: auto;
  transform: translate(1px, 728px);
}
.featured-slider li .image img {
  clip-path: url(#quarterMask);
}

/* -------------------------------
   MOON ORIGINALS TITLE STYLING
--------------------------------*/
.moon-title {
  color: #fff;
  text-align: center;
  font-family: "Neuropolitical", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 115.385% */
  text-transform: uppercase;
  position: absolute;
  top: 100%; /* directly below images */
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  margin-top: 40px;
  letter-spacing: 1px;
  z-index: 50;
}

/* Ensure .details container is positioned properly */
.details {
  position: relative;
  width: 400px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
